.education-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.education-wrapper h3 {
  text-align: center;
  padding: 30px 0;
}

.education-info {
  padding: 10px 0;
}
.education-info p:first-child {
  font-weight: 600;
}

@media (min-width: 824px) {
  .education-wrapper {
    padding: 0;
  }
}
