.education-wrapper {
  padding: 5px 70px;
}

.education-info {
  padding: 10px 0;
}
.education-info p:first-child {
  font-weight: 600;
}

@media (min-width: 824px) {
  .education-wrapper {
    padding: 50px 250px;
  }
}
