.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.github-icon {
  width: 18px;
  margin: 0;
  padding-right: 0.5em;
  margin-bottom: -3px;
}

.card {
  text-align: center;
  padding-left: 0;
  border-radius: 12px;
}

.card p {
  margin: 0.5em;
}

.hero-image {
  width: 220px;
  margin: 20px;
  border-radius: 50%;
  border-style: double;
  border-width: 1em;
  border-color: rgba(231, 237, 243, 0.637);
  box-shadow: 0 0 50px #ccc;
}

h1 {
  color: black;
  text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
  padding-left: 10px;
}
.main-label {
  padding: 0 10px 10px;
  color: rgb(122, 119, 119);
}

a {
  color: #0b0089;
  text-decoration: none;
}
.about-container {
  padding: 20px 10px;
  text-align: justify;
  max-width: 600px;
}
.hero-link {
  padding: 1em;
  margin: 1em 1em 1em 0;
  width: 7em;
  background: none;
  color: inherit;
  border: 2px solid #7066ff;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.hero-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-links-container :hover {
  background-color: #7066ff;
  color: white;
}

@media (min-width: 824px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }
  .hero-links-container {
    justify-content: flex-start;
  }

  .card {
    text-align: left;
    border-radius: 12px;
  }

  .about-container {
    padding: 10px;
  }
  .about-container p {
    margin-left: 0;
  }
}
