.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  text-align: center;
  padding-left: 0;
  padding-right: 20px;
  border-radius: 12px;
}
.card p {
  margin: 0.5em;
}

img {
  width: 150px;
  margin: 20px;
  border-radius: 20px;
}
h2 {
  color: black;
  text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
}
a {
  color: #0b0089;
  text-decoration: none;
}

@media (min-width: 620px) {
  .hero {
    flex-direction: row;
    justify-content: left;
  }

  .card {
    text-align: left;
    padding: 20px 50px;
    border-radius: 12px;
  }
}
