.knowledge-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 60px;
}

.knowledge-info {
  align-self: start;
}
.knowledge-section h4 {
  color: rgb(122, 119, 119);
  padding: 20px;
}

.knowledge-section p {
  margin: auto;
  color: rgb(122, 119, 119);
}
.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills-list li {
  list-style: none;
  margin: 10px;
  padding: 12px;
  border: 1px solid rgb(226, 222, 222);
  text-align: center;
  border-radius: 5px;
  min-width: 70px;
}

.languages-container {
  display: flex;
}
.languages-container p {
  margin-left: 20px;
  margin-right: 0;
}

@media (min-width: 824px) {
  .knowledge-section {
    align-items: flex-start;
  }
  .knowledge-section h3 {
    margin: auto;
  }
  .knowledge-section h5 {
    padding-left: 10%;
  }
  .skills-list {
    display: flex;
    justify-content: flex-start;
  }
}
