.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.experience-info {
  padding: 15px 50px;
  max-width: 700px;
}

.experience-info p:first-child {
  font-weight: 600;
}
