.button-opt {
  width: 9em;
  margin: 5px 10px;
  background: none;
  color: inherit;
  border: solid 1px lightgray;
  padding: 0.5em 1em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.button-opt p {
  margin: 0;
}

@media (min-width: 620px) {
  .hero {
    flex-direction: row;
    justify-content: left;
  }

  .card {
    text-align: left;
    padding: 20px 50px;
    border-radius: 12px;
  }
}
